/* default styles */
#result-message, #no-result-message, #empty-text-message, #error-message, #spinner{
    display: none;
}
img{
    height: 330px;
}
.card-text{
    margin-top: 10px;
    height: 250px;
    overflow-x: hidden;
    overflow-y: scroll;
}